nav {
  width: 100%;
  padding: 40px;
  background: #c99898;
}

nav .button {
  display: flex;
  justify-content: center;
  gap: 15px;
}

nav button a {
  text-decoration: black;
  color: rgb(23, 20, 20);
  font-size: large;
  padding: 20px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#wrapper {
  display: flex;
 min-height: calc(100vh - 50vh); 
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.guessSubmit{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 40px;
    background-color: cadetblue;
}
.guessField{
    box-sizing: border-box solid rgb(169, 137, 137);  
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 40px;
    background-color: darkgray;
}
#guess{
    display: flex;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#newGame{
  color: aqua;
  
}