body {
  background-color: #212121;
  color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  
}

nav {
  width: 100%;
  padding: 40px;
  background: #f3e1e1;
}

nav .button {
  display: flex;
  justify-content: center;
  gap: 15px;
}

nav button a {
  text-decoration: black;
  color: rgb(23, 20, 20);
  font-size: large;
  padding: 20px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

div .controls{  
   display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-size: large;
  flex: 1;
  
}
#start{
  padding: 10px 25px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  display: block;
  margin: 15px auto;
  
  
  
 
}
#stop{
  padding: 10px 25px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  
}

h1{
  display: flex;
  justify-content: center;
  padding: 10px;
}
